body {
  > dialog.image-to-text {
    all: revert;
  }

  > dialog.image-to-text {
    
    overflow: hidden;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    height: 115px;
    min-height: 115px;
    max-height: 115px;
    
    font-family: system-ui;
    border-width: 1px;
    border-radius: .5em;
    padding: 4px;
    
    > header {
      all: revert;      
    }

    > header {
    
      padding: 0em .2em .1em .2em;
      border-top-left-radius: .3em;
      border-top-right-radius: .3em;
      top: 0px;
      background-color: Highlight;
      color: HighlightText;
      
      > img {
        margin-right: 4px;
        margin-top: 2px;
        vertical-align: top;
      }

      > span {
        vertical-align: top;
      }
      
      > span:has( + a[href] )::after {
        content: ' | ';
      }        
      
      > a {
        color: rgb(255, 200, 200);
        vertical-align: top;
      }
                            
    }
    
    > section {
      all: revert;
    }

    > section {
      
      height: calc( 100% - 45px );
      
      > span {
        font-size: smaller;
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
      
      > progress {
        display: block;
        width: 100%;
      }
      
      > progress[value="0"] {
        display: none;
      }
      
    }

    > footer {
      all: revert;
    }
    
    > footer {
      bottom: 0px;
      text-align: center;
      
      > button {
        all: revert;
      }
      
      > button {
        border-radius: .5em;
        font-family: system-ui;
      }
    }
  }
 
  > dialog.image-to-text:not( [data-image-to-text-state=ready] ) > footer > button[name=okButton] {
    display: none;
  }

  > dialog.image-to-text[data-image-to-text-state=ready] > footer > button[name=cancelButton] {
    display: none;
  }
  
}